<div id="sounds">
  <div class="sound-nav">
      <div :class="selectedSoundOption === 'yourMedia' ? 'selected': ''" class="sound-option" @click="toggle('yourMedia')">Your Media</div>
      <div :class="selectedSoundOption === 'musicLibrary' ? 'selected': ''" class="sound-option" @click="toggle('musicLibrary')">Music Library</div>
  </div>
    <div class="content">
    <div v-if="selectedSoundOption === 'yourMedia'">
      <YourMedia></YourMedia>
    </div>
    <div v-if="selectedSoundOption === 'musicLibrary'">
      <MusicLibrary></MusicLibrary>
    </div>
    </div>
</div>
</router-view>
