<div id="sounds">
  <div class="sound-nav">
      <div :class="selectedSoundOption === 'yourMedia' ? 'selected': ''" class="sound-option" @click="toggle('yourMedia')">
        <div class="mar-b-10">Your Media</div>
        <div class="underline"></div>
        </div>
      <div :class="selectedSoundOption === 'musicLibrary' ? 'selected': ''" class="sound-option" @click="toggle('musicLibrary')">
        <div  class="mar-b-10">Music Library</div>
        <div class="underline">
        </div>
      </div>
  </div>
    <div class="content">
    <div v-if="selectedSoundOption === 'yourMedia'">
      <YourMedia></YourMedia>
    </div>
    <div v-if="selectedSoundOption === 'musicLibrary'">
      <MusicLibrary></MusicLibrary>
    </div>
    </div>
</div>
</router-view>
