@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

#sounds {
    // padding: 16px;
    text-align: center;
    flex-direction: column;

    .sound-nav {
        border: 1px solid #F3F3F3;
        display: flex;
        justify-content: center;

        .selected {
            display: flex;
            flex-direction: column;
            font-family: 'QuicksandBold' !important;
            align-items: center;

            .mar-b-10 {
                margin-bottom: 10px;
            }

            .underline {
                // border: 2px solid #324851;
                border: 1.5px solid #324851;
                width: 70px;
            }
        }

        .sound-option {
            text-decoration: none;
            margin: 0 6px;
            padding: 10px 32px 0;
            color: #324851;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 17px;

        }
    }
}

.component-fade-y-enter-active, .component-fade-y-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    opacity: 1;	
}
.component-fade-y-enter, .component-fade-y-leave-to {
    opacity: 0;
    transform: translateY(30px);
}