@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

#sounds {
    // padding: 16px;
    text-align: center;
    flex-direction: column;

    .sound-nav {
        border: 1px solid #F3F3F3;
        display: flex;
        justify-content: center;

        .selected {
            font-weight: bold !important;
        }

        .sound-option {
            text-decoration: none;
            margin: 0 6px;
            padding: 16px 32px;
            color: #324851;
            font-family: Quicksand;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

        }
    }
}