<div>
  <div class="upload-media-container">
    <div class="bold header">Upload Media</div>
    <div class="upload-media-input"><input type="text" /></div>
    <div class="bold title">Title</div>
    <div class="title-input"><input type="text" /></div>
    <div class="btn-container">
      <button class="upload-btn">Upload</button>
    </div>
  </div>
  <div class="upload-progress-container">
    <div class="upload-info"></div>
  </div>
  <div class="upload-complete-container">
    <!-- <div><i class="fas fa-check-circle"></i></div> -->
    <div class="file-title"></div>
  </div>
</div>
