<div class="transcribe-text-container">
  <div class="todo-list">
    <div
      class="todo-wrapper"
      v-for="(item, i) in todos"
      contenteditable="true"
      v-bind:key="i"
      @dragstart="dragStart(i, $event)"
      @dragover.prevent
      @dragenter="dragEnter($event, i)"
      @dragleave="dragLeave($event, i)"
      @dragend="dragEnd"
      @drop="dragFinish(i, $event)"
      v-bind:id="'todo-wrapper' + i"
      @keyup="addNewItem($event, i)"
    >
      <div class="transcribe-text-block">
        <div class="handle-container" contenteditable="false">
          <div
            class="icon label-icon"
            v-bind:style="{color:item.labelColor}"
            v-bind:id="'label'+ i"
            v-on:click="displayLabelPopover(i)"
            v-bind:class="{'active-icon':item.showLabelModal}"
          >
            <i v-tooltip.left="'Label'" class="fa fa-tag"></i>
          </div>

          <div v-if="item.showLabelModal" v-bind:id="'label-modal' + i">
            <div class="color-palette-container">
              <div class="palette-header-container">
                <div class="header">
                  <span>Label Name</span>
                </div>
              </div>
              <div class="color-list">
                <div class="color-item" v-for="(color) in colors">
                  <i
                    class="fa fa-circle"
                    v-on:click="selectLabelColor(i,color.code)"
                    v-bind:class="{'active-color-item':item.labelColor===color.code}"
                    v-bind:style="{color:color.code}"
                  ></i>
                  <div
                    class="active-color"
                    v-bind:style="{backgroundColor:item.labelColor===color.code?
                    color.code:'#fff'}"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="icon drag-icon"
            v-bind:id="'drag'+i"
            @mousedown="addEventListener($event)"
          >
            <i class="fa fa-ellipsis-v"></i>
            <i class="fa fa-ellipsis-v"></i>
          </div>
          <div
            class="icon add-icon"
            v-bind:id="'add'+ i"
            v-bind:class="{'active-icon':item.showAddActionModal}"
            v-on:click="displayAddActionPopover(i)"
          >
            <i
              v-tooltip.bottom-end="'Click to add'"
              class="fa fa-plus-circle"
            ></i>
          </div>

          <div
            v-if="item.showAddActionModal"
            v-bind:id="'add-action-modal' +
            i"
          >
            <div class="add-action-container">
              <router-link to="/addfile" class="file-container">
                <div class="icon-container">
                  <div class="file-icon-wrapper">
                    <i class="fa fa-file-audio"></i>
                  </div>
                </div>
                <div class="description">
                  <div class="title">File</div>
                  <div class="sub-title">Add a media or transcribed file</div>
                </div>
              </router-link>
              <div class="paragraph-break-container">
                <div class="icon-container">
                  <div class="paragraph-icon-wrapper">
                    <i class="fa fa-paragraph"></i>
                  </div>
                </div>
                <div class="description">
                  <div class="title">Paragraph Break</div>
                  <div class="sub-title">Keyboard Shortcut-Enter Key</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="todo-text-block">
          <div class="todo-item" v-bind:id="'todo-item'+i">
            {{ item.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
