<div>
  <div class="transcribe-text-container">
    <div class="block-left"></div>
    <div class="block-center todo-list">
      <div class="file-title">{{ fileTitle }}</div>
      <div
        class="todo-wrapper"
        v-for="(item, i) in todos"
        v-bind:key="i"
        @dragstart="dragStart(i, $event)"
        @dragover.prevent
        @dragenter="dragEnter($event, i)"
        @dragleave="dragLeave($event, i)"
        @dragend="dragEnd"
        @drop="dragFinish(i, $event)"
        v-bind:id="'todo-wrapper' + i"
      >
        <div
          class="transcribe-text-block"
          @mouseover="displayIcons(i)"
          @mouseleave="hideIcons(i)"
        >
          <div class="handle-container" v-bind:id="'handle-container'+i">
            <div class="icon-wrapper">
              <div
                :ref="'label'+i"
                class="icon label-icon"
                v-bind:style="{color:item.labelColor}"
                v-bind:id="'label'+ i"
                v-bind:class="[{'active-icon':item.labelPopoverConfig.show},{'active-label':item.labelColor},{'hide-icon':!item.showIcons},{'on-popover-open':item.labelPopoverConfig.show||item.addActionPopoverConfig.show}]"
                ref="exclude"
              >
                <i
                  v-tooltip.left=" item.labelName|| 'Label'"
                  v-on:click="openPopover('label',i)"
                  class="far fa-tag"
                ></i>
              </div>

              <div
                class="icon drag-icon"
                v-bind:id="'drag'+i"
                @mousedown="addEventListener($event)"
                v-tooltip.top="'click here to drag'"
                v-bind:class="[{'hide-icon':!item.showIcons},{'on-popover-open':item.labelPopoverConfig.show||item.addActionPopoverConfig.show}]"
              >
                <i class="fa fa-ellipsis-v"></i>
                <i class="fa fa-ellipsis-v"></i>
              </div>
              <div
                :ref="'add'+i"
                class="icon add-icon"
                v-bind:id="'add'+ i"
                v-bind:class="[{'active-icon':item.addActionPopoverConfig.show},{'hide-icon':!item.showIcons},{'on-popover-open':item.labelPopoverConfig.show||item.addActionPopoverConfig.show}]"
              >
                <i
                  v-tooltip.bottom-end="'Click to add'"
                  v-on:click="openPopover('addAction',i)"
                  v-bind:class="[item.addActionPopoverConfig.show ? 'fa fa-plus-circle':'fal fa-plus-circle']"
                ></i>
              </div>
            </div>
          </div>
          <div class="todo-text-block" ref="transcriber">
            <div
              :class="{'active-line':item.addActionPopoverConfig.show}"
            ></div>
            <div
              class="todo-item"
              v-bind:id="'todo-item'+i"
              contenteditable="true"
            >
              {{ item.title }}
            </div>
          </div>
        </div>
        <Popover :config="item.labelPopoverConfig">
          <transition name="bounce">
            <div
              v-if="item.labelPopoverConfig.show"
              v-bind:id="'label-modal' + i"
            >
              <div class="color-palette-container">
                <div class="palette-header-container">
                  <div class="header">
                    <input
                      contenteditable="true"
                      ref="labelName"
                      @keyup="saveLabelName($event,i,item.labelName)"
                      v-model="item.labelName"
                      placeholder="Label Name"
                    />
                  </div>
                </div>
                <div class="color-list">
                  <div
                    class="color-item"
                    @mouseover="color.isFocused=true"
                    @mouseleave="color.isFocused=false"
                    v-for="(color) in colors"
                  >
                    <i
                      class="fa fa-circle"
                      v-on:click="selectLabelColor(i,color.code)"
                      v-bind:class="{'active-color-item':item.labelColor===color.code}"
                      v-bind:style="{color:color.code}"
                    ></i>
                    <div
                      class="active-color"
                      v-bind:style="{backgroundColor:item.labelColor===color.code||color.isFocused?
                          color.code:'#fff'}"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </Popover>
        <Popover :config="item.addActionPopoverConfig">
          <transition name="bounce">
            <div
              v-if="item.addActionPopoverConfig.show"
              v-bind:id="'add-action-modal' +
                                i"
            >
              <div class="add-action-container">
                <div class="file-container" @click="openPopover('addFile',i)">
                  <div class="icon-container">
                    <div class="file-icon-wrapper">
                      <i class="far fa-file-audio"></i>
                    </div>
                  </div>
                  <div class="description">
                    <div class="title">File</div>
                    <div class="sub-title">
                      Add a media or transcribed file
                    </div>
                  </div>
                </div>
                <div class="paragraph-break-container">
                  <div class="icon-container">
                    <div class="paragraph-icon-wrapper">
                      <i class="fa fa-paragraph"></i>
                    </div>
                  </div>
                  <div class="description">
                    <div class="title">Paragraph Break</div>
                    <div class="sub-title">Keyboard Shortcut-Enter Key</div>
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </Popover>
      </div>
    </div>
    <div class="block-right"></div>
  </div>

  <Popover :config="addFilePopoverConfig">
    <transition appear name="bounce">
      <div>
        <AddFiles v-on:closeAddFile="closeAddFilePopover()"></AddFiles>
      </div>
    </transition>
  </Popover>
</div>
