.music-library {
    padding: 16px 0;
}

.music-library .search-wrapper .search {
    width: 540px;
    margin: 0 auto;
    /* border: 1px solid #c2c2c2; */
    /* padding: 6px 12px; */
    /* border-radius: 30px; */
    /* text-align: left; */
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 25px;
}

.music-library .search-wrapper .search .fa-search {
    padding: 12px;
    /* font-family: FontAwesome; */
    font-style: normal;
    /* font-weight: normal; */
    font-size: 16px;
    line-height: 18px;
    color: #C2C2C2;
}

.music-library .search-wrapper .search input[type="text"] {
    /* color: #c2c2c2; */
    border: none;
    /* font-size: 22px; */
    width: calc(100% - 60px);
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    /* display: flex; */
    /* align-items: center; */
}

:focus {
    outline: none;
}

/* Input Placeholder styles */

.music-library .search-wrapper .search input[type="text"]::-webkit-input-placeholder {
    color: #c2c2c2;
}

.music-library .search-wrapper .search input[type="text"]::-moz-placeholder {
    color: #c2c2c2;
}

.music-library .search-wrapper .search input[type="text"]:-ms-input-placeholder {
    color: #c2c2c2;
}

.music-library .search-wrapper .search input[type="text"]::placeholder {
    color: #c2c2c2;
}

/* Music library css */

.music-library .library-menu {
    width: 540px;
    margin: 16px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.music-library .library-menu .menu-item {
    padding: 12px 26px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #324851;
}

.music-library .library-menu .selected {
    background: #f6f6f6;
    font-weight: bold;
    border-radius: 9px;
    font-family: 'QuicksandBold';
}

/* Result section */

.results {
    text-align: left;
    /* width: 70%; */
    margin: 0 auto;
}

.results ul {
    margin-top: 8px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
}

.results ul li {
    /* list-style: none; */
    /* width: 45%; */
    width: calc((100% / 2) - 12px);
    /* padding: 16px 6px; */
    /* margin: 6px; */
    /* font-size: 18px; */
    /* border-bottom: 1px solid #f6f6f6; */
    /* font-weight: bold; */
    /* cursor: pointer; */
    /* color: #324851; */
    font-family: QuicksandBold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #324851;
    border-bottom: 1px solid #F3F3F3;
}

.results .result-list .item .icon {
    padding: 16px;
}

.results .result-list .selected-audio {
    background: #F6F6F6;
    border-radius: 9px;
}