.add-files-container {
  border: 1px solid lightgray;
  border-radius: 6px;
  width: 54%;
  margin: 64px auto;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(189, 189, 189, 1);
  box-shadow: 0px 5px 4px 0px rgba(189, 189, 189, 1);
  .add-files-content {
    display: flex;
    .action-list {
      width: 25%;
      border-right: 1px solid #dee1e8;
      height: 360px;
      overflow-y: scroll;

      .action-item {
        padding: 24px 16px 24px 32px;
        border-bottom: 1px solid #dee1e8;

        font-size: 18px;
        a {
          cursor: pointer;
          color: #65757d;
          text-decoration: none;
        }
        &:hover {
          font-weight: bold;
          background-color: #1899f7;
          a {
            color: white;
          }
        }
      }
    }
    .action-content {
      width: 75%;
    }
  }
  .add-files-footer {
    align-items: center;
    display: flex;
    font-size: 14px;
    border-top: 1px solid #dee1e8;
    justify-content: space-between;
    padding: 16px 32px 16px 16px;
    .message {
      color: #7f8d92;
      flex: 6 0 0;
      line-height: 1.4;
    }
    .btn-container {
      display: flex;
      flex: 6 0 0;
      justify-content: flex-end;
      .btn {
        padding: 8px 32px;
        cursor: pointer;
        border-radius: 6px;
      }
      .cancel-btn {
        border: 1px solid black;
        color: #7f8d92;
        background: white;
      }
      .add-file-btn-wrapper {
        padding-left: 32px;
      }
      .add-file-btn {
        border: none;
        background: #1899f7;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
}
