
<div class="add-files-container">
  <div class="add-files-content">
    <div class="action-list">
      <div
        v-for="(action,i) in actionList"
        class="action-item"
        v-bind:key="i"
        @click="changeView(action,i)"
        :class="selectedOption === action.name ? 'selected': ''"
      >
        {{ action.label }}
        <!-- <router-link :to="action.path">{{ action.label }}</router-link> -->
      </div>
    </div>
    <div class="action-content">
	  <!-- <router-view></router-view> -->
	  <transition name="component-fade" mode="out-in">
        <SpecsDocs v-if="selectedOption === 'spextdocs'"></SpecsDocs>
        <Sounds  v-else-if="selectedOption === 'sounds'"></Sounds>
        <UploadMedia v-else-if="selectedOption === 'uploadmedia'"></UploadMedia>
	</transition>
    </div>
  </div>
  <div class="add-files-footer">
    <div class="message">
      Uploaded files wont be transcribed here.To transcribe files,use the
      "Transcribe" button in the top bar
    </div>
    <div class="btn-container">
      <div class="btn-wrapper">
        <button class="btn cancel-btn">Cancel</button>
      </div>
      <div class="btn-wrapper add-file-btn-wrapper">
        <button class="btn add-file-btn">Add File</button>
      </div>
    </div>
  </div>
</div>
