.anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: 12px 32px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
}

.bold {
  font-weight: bold;
}

.menu-active {
  background: #5b6b72;
}

.menu-item {
  color: #212529;
  /* padding: 0.25rem 1.5rem; */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.direction-column {
  display: flex;
  flex-direction: column;
}

.menu-item .menu-list {
  display: flex;
  padding: 8px;
  color: #324851;
}

.menu-list:not(:last-child) {
  border-bottom: 1px solid #ececec;
}

.menu-item .menu-icon {
  border: 1.5px solid #ececec;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 6px;
  margin: 8px;
}

.menu-item .menu-list .menu-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px;
}

nav {
  font-family: "Quicksand";
  background-color: #324851;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  height: 62px;
}

nav .sub-menu {
  display: flex;
  font-size: 14px;
  flex-grow: 2;
  flex-basis: 0;
  flex-shrink: 0;
}

nav .menu-middle {
  width: 168px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 14px;
  flex-grow: 3;
  flex-basis: 0;
  flex-shrink: 0;
  font-family: "QuicksandBold";
}

.menu-middle span {
  font-weight: bold;
}

nav .nav-right-wrapper .arrow-back {
  padding-right: 16px;
}

nav .nav-right-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 2;
  flex-basis: 0;
  flex-shrink: 0;
}

nav .nav-right-wrapper .audio-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav .nav-right-wrapper .audio-description .audio-label {
  font-size: 15px;
}

nav .nav-right-wrapper .audio-description .desc {
  color: #a5bfc9;
  font-size: 12px;
  font-weight: lighter;
}

nav .nav-right-wrapper .audio-description span {
  padding: 2px 0;
}

nav .sub-menu-left {
  border-right: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  padding: 0 16px;
}

nav .sub-menu-left .btn-share {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  color: #ffffff;
  background: #1899f7;
  border-radius: 5px;
  font-family: "QuicksandBold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

nav .sub-menu-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46px;
  padding-left: 16px;
}

.sub-menu-left span {
  font-weight: bold;
  font-family: "QuicksandBold";
}
