<div class="navbar" ref="navbar">
  <nav>
    <div class="nav-right-wrapper">
      <div class="arrow-back">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="audio-description">
        <span class="audio-label">Zoom_wav.mp3</span>
        <span class="desc">Shared with Jogn Doe & 15 others</span>
      </div>
    </div>
    <div class="menu-middle anchor" @click="openTranscript">
      <div
        class="menu-middle-wrapper"
        ref="editTranscript"
        v-bind:class="{
        'menu-active': config.show }"
      >
        <!-- <i class="fa fa-h-square" style="margin-right: 8px;"></i> -->
        <span class="t-wrapper"><span class="capital-t-icon">T</span></span>
        <span>Transcript Mode</span>
        <i
          class="fa fa-chevron-down"
          style="margin-left: 16px; vertical-align:
          middle;"
        ></i>
      </div>

      <Popover :config="config">
        <div class="menu-item">
          <div class="menu-list">
            <div class="menu-icon">
              <i class="fa fa-volume-up"></i>
            </div>
            <div class="menu-element">
              <span class="label">Edit Media</span>
              <span class="description">Shows filter words, silence etc</span>
            </div>
          </div>
          <div class="menu-list">
            <div class="menu-icon">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
            </div>
            <div class="menu-element">
              <span class="label">Storyboard</span>
              <span class="description"
                >visualize the transcript as a grid</span
              >
            </div>
          </div>
          <div class="menu-list">
            <div class="menu-icon">
              <i class="fa fa-volume-up"></i>
            </div>
            <div class="menu-element">
              <span class="label">Edit Transcript</span>
              <span class="description">Correct the transcript for errors</span>
            </div>
          </div>
        </div>
      </Popover>
    </div>

    <div class="sub-menu">
      <div class="sub-menu-left">
        <button class="btn-share">Share</button>
        <span>
          Export
          <i class="fa fa-chevron-down"></i>
        </span>
        <i class="fa fa-search"></i>
        <i class="fa fa-link"></i>
        <i class="far fa-save"></i>
        <i class="fa fa-ellipsis-h"></i>
      </div>
      <div class="sub-menu-right">
        <i class="fa fa-question-circle"></i>
        <i class="fa fa-bell"></i>
      </div>
    </div>
  </nav>
</div>
